@import "compass/reset";
@import "compass";



// VARIABLES

	// COLORS

	$black: #151515;
	$grey44: #2c2c2c;
	$grey32: #202020;
	$grey106: #6a6a6a;


	$walkingBlue: #39bee9;
	$cyclingGreen: #c2e939;
	$onFootOrange: #e39713;
	$standingBlue: #a3dae2;
	$standbyGrey: #a7a7a7;
	$drivingRed: #ec0c0c;





	// DIMENSIONS






// MIXINS



$prefixes: webkit, moz, ms, o;

@mixin animation($value) {
	@for $i from 1 through length($prefixes) {
		$prefix: nth($prefixes, $i);

		-#{$prefix}-animation: $value;
	}

	animation: $value;
}
