@import "base";




body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 100%;
	background-color: $black;
}



// TYPOGRAPHY

h1 {
	font-size: 1.8rem;
	font-weight: 100;
	margin-bottom: 20px;

	.currently-cycling & {
		text-shadow: 0 0 45px $cyclingGreen;
	}

	.currently-running & {
		text-shadow: 0 0 45px $runningOrange;
	}

	.currently-walking & {
		text-shadow: 0 0 45px $walkingBlue;
	}

	.currently-standing & {
		text-shadow: 0 0 45px $standingBlue;
	}

	strong {
		font-family: "Roboto Condensed";
		font-size: 3em;
		font-weight: 700;
		display: block;
	}
}


h1, h3 {
	transition: all 0.3s ease-out;

	.currently-cycling & {
		color: $cyclingGreen;
	}

	.currently-running & {
		color: $runningOrange;
	}

	.currently-walking & {
		color: $walkingBlue;
	}

	.currently-standing & {
		color: $standingBlue;
	}
}


small {
	color: $grey106;
	font-style: italic;
}





// HEADER

#header {
	height: 30px;
	transition: background-color 0.3s ease-out;
}

#header, #hero {
	.currently-cycling & {
		background-color: $cyclingGreen;
	}

	.currently-running & {
		background-color: $runningOrange;
	}

	.currently-walking & {
		background-color: $walkingBlue;
	}

	.currently-standing & {
		background-color: $standingBlue;
	}
}

#hero {
	height: 80px;
	position: relative;
	transition: background-color 0.3s ease-out;
}

#hero-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.activity-image {
	background: url(../img/icon-running.png) 50% 0 no-repeat;
	@include background-size(contain);
	width: 100%;
	height: 100%;
	float: left;

	&.cycling {
		//background: $cyclingGreen;
	}

	&.running {
		//background: $runningOrange;
	}

	&.walking {
		//background: $walkingBlue;
	}

	&.standing {
		//background: $standingBlue;
	}
}





// CURRENT

#current {
	height: 215px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	//display: none;
}

#activity {
	width: 100%;
}

.activity {
	padding: 30px 10px;
}


.adding-activity {

	#hero-image {
		width: 200%;

		.activity-image {
			width: 50%;

			&:first-child {
				float: left;
				@include animation(ffv 0.5s);
			}
		}
	}

	#activity {
		
		.activity:first-child {
			@include animation(ffz 0.3s);	
		}
	}

	#past {

		li:first-child {
			@include animation(ffx 0.3s);
			//@include transform(translate3d(0, 0, 0));
		}
	}
}




@-webkit-keyframes ffv {
	0% {
		margin-left: -100%;
	}
	100% {
		margin-left: 0;
	}
}


@-webkit-keyframes ffz {
	0% {
		margin-top: -190px;
	}
	100% {
		margin-top: 0;
	}
}

@-webkit-keyframes ffx {
	0% {
		margin-top: -64px;
	}
	100% {
		margin-top: 0;
	}
}




// PAST

#past {
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0;
}


li {
	font-size: 1.5rem;
	background-color: $grey44;
	padding: 20px;
	@include display-box;

	&.odd {
		background-color: $grey32;
	}

	h3 {
		@include box-flex(2);
	}

	small {
		font-size: 1rem;
		font-style: italic;
		text-align: right;

		@include box-flex(1);
	}
}













