@import "base";

@font-face{ 
	font-family: "Roboto Condensed";
	src: url('fonts/RobotoCondensed-Bold-webfont.eot');
	src: url('fonts/RobotoCondensed-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
	     url('fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
	     url('fonts/RobotoCondensed-Bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: "Roboto";
	src: url('fonts/Roboto-Regular-webfont.eot');
	src: url('fonts/Roboto-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/Roboto-Regular-webfont.woff') format('woff'),
	     url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	     url('fonts/Roboto-Regular-webfont.svg#webfont') format('svg');
}


html, body, #g25k {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}


body {
	font-family: "Roboto";
	font-size: 100%;
	background-color: $black;
}




// TYPOGRAPHY

h1 {
	@include animation(fadeText 1s infinite);
	font-size: 1.8rem;
	font-weight: 100;
	margin-bottom: 20px;

	.currently-cycling & {
		text-shadow: 0 0 45px $cyclingGreen;
	}

	.currently-on-foot & {
		text-shadow: 0 0 45px $onFootOrange;
	}

	.currently-standing & {
		text-shadow: 0 0 45px $standingBlue;
	}

	.currently-standby & {
		-webkit-animation-duration: 0.3s;
		text-shadow: 0 0 45px $standbyGrey;
	}

	.currently-driving & {
		text-shadow: 0 0 45px $drivingRed;
	}

	strong {
		font-family: "Roboto Condensed";
		font-size: 3em;
		font-weight: 700;
		display: block;
	}
}


h1, h3 {
	transition: all 0.3s ease-out;

	.currently-cycling & {
		color: $cyclingGreen;
	}

	.currently-on-foot & {
		color: $onFootOrange;
	}

	.currently-standing & {
		color: $standingBlue;
	}

	.currently-standby & {
		color: $standbyGrey;
	}

	.currently-driving & {
		color: $drivingRed;
	}

}


small {
	color: $grey106;
	font-style: italic;
}





// HEADER

#header {
	height: 30px;
	transition: background-color 0.3s ease-out;
}

#header, #hero {
	.currently-cycling & {
		background-color: $cyclingGreen;
	}

	.currently-on-foot & {
		background-color: $onFootOrange;
	}

	.currently-standing & {
		background-color: $standingBlue;
	}

	.currently-standby & {
		background-color: $standbyGrey;
	}

	.currently-driving & {
		background-color: $drivingRed;
	}
}

#hero {
	height: 80px;
	position: relative;
	transition: background-color 0.3s ease-out;
}

#hero-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.activity-image {
	background-position: 50% 0;
	background-repeat: no-repeat;
	@include background-size(contain);
	width: 100%;
	height: 100%;
	float: left;

	&.cycling {
		background-image: url(../img/icon-cycling.png);
	}

	&.on-foot {
		background-image: url(../img/icon-running.png);
	}

	&.standing {
		background-image: url(../img/icon-standing.png);
	}

	&.standby {
		background-image: url(../img/icon-standby.png);
	}

	&.driving {
		background-image: url(../img/icon-driving.png);
	}
}





// CURRENT

#current {
	height: 215px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	//display: none;
}

#activity {
	width: 100%;
}

.activity {
	padding: 30px 10px;
}


.adding-activity {

	#hero-image {
		width: 200%;

		.activity-image {
			width: 50%;

			&:first-child {
				float: left;
				@include animation(ffv 0.3s);
			}
		}
	}

	#activity {
		
		.activity:first-child {
			@include animation(ffz 0.3s);	
		}
	}

	#past {

		li:first-child {
			@include animation(ffx 0.3s);
			//@include transform(translate3d(0, 0, 0));
		}
	}
}




@-webkit-keyframes ffv {
	0% {
		margin-left: -100%;
	}
	100% {
		margin-left: 0;
	}
}


@-webkit-keyframes ffz {
	0% {
		margin-top: -190px;
	}
	100% {
		margin-top: 0;
	}
}

@-webkit-keyframes ffx {
	0% {
		margin-top: -64px;
	}
	100% {
		margin-top: 0;
	}
}



@-webkit-keyframes fadeText {
	0% {
		opacity: 0.75;
	}
	50% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.75;
	}
}



// PAST

#past {
	width: 100%;
	position: absolute;
	top: 325px;
	bottom: 0;
	overflow: scroll;
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0;
}


li {
	font-size: 1.5rem;
	background-color: $grey44;
	padding: 20px;
	@include display-box;

	&.odd {
		background-color: $grey32;
	}

	h3 {
		@include box-flex(2);
	}

	small {
		font-size: 1rem;
		font-style: italic;
		text-align: right;

		@include box-flex(1);
	}
}













